@font-face {
    font-family: baemin;
    src: url(./assets/font/BMDOHYEON.ttf);
}

.background {
    background-image: url(./assets/image/background.png);
    background-size: 100%;
}

.not_ajae_color {
    color: #3ff5a2
}

.medium_ajae_color {
    color: #f6a623
}

.full_ajae_color {
    color: #f53f90;
}
.not_ajae_image {
    background: url(./assets/image/not_ajae.png) no-repeat center;
    background-size: auto;
}

.medium_ajae_image {
    background: url(./assets/image/medium_ajae.png) no-repeat center;
    background-size: auto;
}

.full_ajae_image {
    background: url(./assets/image/full_ajae.png) no-repeat center;
    background-size: auto;
}

.not_ajae_message {
    font-family: baemin;
    font-size: 130px;
}

.medium_ajae_message {
    font-family: baemin;
    font-size: 130px;
}

.full_ajae_message {
    font-family: baemin;
    font-size: 130px;
}